body{
	background: #F1FFEB;
	width: auto;
	height: auto;
	margin: auto;
	line-height: 160%;
}

li {
margin-bottom: 1em;
}

iframe.news{
	resize: none;
	width: 450px;
	height: 200px;
	border: 0px solid #cccccc;
	margin-left: 10px;
}

article{
	width: 1000px;
	height: auto;
	box-shadow: 1px 1px 3px 0px #aaaaaa;
	background-color: white;
	border: 1px solid #cccccc;
	margin-right: auto;
  margin-left: auto;
	margin-top: 30px;
}

article p{
	max-width: 40em;
	margin-left: 40px;
}

header, nav{
	width: 100%;
	background-color: white;
}

header{
	height: 50px;
	background-image: url(./pic/top.png);
	background-position: center;
	background-repeat: no-repeat;
}

nav{
	display: inline-block;
	text-align: center;
	background-color:  #d6dbff;
	border-bottom: 1px solid #cccccc;
	box-shadow: 0px 1px 1px 0px #aaaaaa;
}

nav.menu a{
	display: inline-block;
	box-pack: justify;
	text-align: center;
	padding: 0.2% 35px 0.2% 35px;
	font-size: medium;
	font-weight: bold;
}

img.head-pic{
	margin-top: -20px;
	width: 1000px;
}

div.top-left{
	width: 500px;
	float: left;
}

div.top-right{
	width: 500px;
	float: right;
}

div.card{
	float: left;
	width: 450px;
	height: 150px;
	margin-left: 20px;
	margin-bottom: 20px;
	border: 1px solid #cccccc;
}

div.card a{
	display: block;
	position: absolute;
	width: 450px;
	height: 150px;
}

div.card-title{
	font-weight: bold;
	height: 30px;
	padding-left: 10px;
	padding-top: 5px;
	background-color: #E7EEFF;
}

div.card-content{
	padding: 5px;
	background-color: white;
}

section{
	padding: 8px 8px 8px 8px;
}

h1, h2, h3{
	padding: 3px 0px 3px 40px;
	font-size: large;
	font-weight:bold;
	width: auto;
}

h1{
	padding:5px 20px 5px;
	margin: 0px 0px 20px 0px;
	background-color: lightgreen;
}

article h2{
	margin: 20px 0px 20px 0px;
	border: 1px solid #a3aeff;
	border-radius: 4px;
	background-color: #d6dbff;
}

article h3{
	margin: 20px 0px 10px 0px;
	border-bottom: 3px solid #a3aeff;
}

img.pics{
	width: 15%;
	height: 15%;
	border: 1px solid #cccccc;
	box-shadow: 1px 1px 3px 0px #aaaaaa;
	padding: 3px 3px 3px 3px;
	margin: 3px 3px 3px 3px;
}

figcaption{
	font-weight: bold;
	color: green;
}

img.art{
	max-width: 900px;
	border: 2px solid #cccccc;
}

span.date{
	color: gray;
	font-weight: : bold;
}

span.bold{
	font-weight: bold;
}

span.italic{
	font-size: italic;
}

article span.pick{
	display: block;
	width: auto;
	background-color: #eff1ff;
	border: 1px #cccccc solid;
	font-family: monospace;
	font-weight: normal;
	font-size: medium;
	margin: 20px 0px 20px 20px;
	padding: 3px 0px 2px 20px;
}

table td{
	padding-top: 1em;
	padding-left: 1em;
}

table td:first-child{
	width: 200px;
}

footer{
	width: 100%;
	background-color: white;
	height: 50px;
	margin-top: 15px;
	padding-top: 10px;
	display: inline-block;
	text-align: center;
	border-top: 1px solid #cccccc;
}
